* {
  margin: 0;
  box-sizing: border-box;
}
div.gallery {
  display: block;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  background-image: url("../../images/oshadhi/my.Jpg");
}



div.gallery:hover {
  border: 1px solid rgb(110, 224, 152);

}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Some left and right padding inside the container */
.detils {
  padding: 0 16px;
  text-align: left;

}


.title {
  color: rgb(51, 201, 156);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(67, 230, 167);
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;

}

.button:hover {
  background-color: rgb(35, 169, 93);
}


#body {
  background-image: url("../../images/oshadhi/lab2.jpg");
}


.doctordiv {
  margin: 5%;
  display: block;
}
/* /Here styles the header section/ */
header {
  margin:0%;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #196767;
  z-index: 10;
}

.logo {
  margin-top:10px;
  margin-left: 10px;
  position: absolute;
  left: 40px;
  width: 300px;
  height: 70px;
  display: block;
  background-image: url("../../images/oshadhi/logo.png");
  background-size: cover;
  z-index: 2;
}

.navbar {
  align-items: center;
  background-color: aqua;
  margin-left: 34%;
  z-index: -1;
}

.navbar>ul>li {
 
  list-style: none;
  float: left;
  padding: 30px 15px 0px 10px;
  border-bottom: 3px solid transparent;
  color: whitesmoke;
  font-weight: 500;
  font-size: 18px;
}

.navbar>ul>li:hover {
  border-color: rgb(155, 189, 164);
  cursor: pointer;
}



/* footer goes here */
footer {
  padding-left: 150px;
  position: asolute;
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #0d8f86;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.column {
  width: 450px;
  height: 90%;
  margin: 15px 15px 0 15px;
  border-right: 3px solid aliceblue;
}

#c1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#c2 {
  width: 700px;
}

#c3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

span {
  text-align: start;
  position: absolute;
  top: 15px;
  color: white;
  font-size: 25px;
  padding: 0 5px;
  text-align: center;
  text-justify: inter-word;
}


#c3>.icons>a>i:hover {
  color: crimson;
  cursor: pointer;
}

#c3>.icons>a {
  text-decoration: none;
}

#c3>.icons>a>i {
  font-size: 30px;
  color: white;
  padding: 0 10px;
  transition: .5s all;
}

.awards {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.aws {
  margin: 10px;
  width: 100px;
  height: 100px;
}

.aws.a1 {
  background-image: url("../../images/oshadhi/download.png");
  background-position: center;
  background-size: cover;
}

.aws.a2 {
  background-image: url("../../images/oshadhi/IHF_Awards_2018.jpg");
  background-position: center;
  background-size: cover;
}

#c2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 200%;

}

#c2>.map {
  height: 80%;
  width: 80%;
  margin: 5px;
  background-image: url("../../images/oshadhi/map.jpg");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  background-image: url("../../images/oshadhi/lab2.jpg");
  font-family: "Roboto", sans-serif;
}



.bill{
  margin-top: 10%;
  margin-left: 10%;
  padding: 1%;
  background-color: whitesmoke;
  border-radius: 20px;
  width:80%;
  height:50%;
  margin-bottom:5%;
  text-align: center;
  background-image: url(../../images/oshadhi/my.Jpg);
  padding-top: 80px;
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}